
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fundo Partidário</h2>
<p>É um Fundo Especial de Assistência Financeira aos Partidos Políticos, que tenham seu estatuto registrado no Tribunal Superior Eleitoral e prestação de contas regular perante a Justiça Eleitoral.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/eTw2m_WTeRE?rel=0" frameborder="0" allowfullscreen></iframe>
