<div class="jumbotron">
    <h2>Voto + conhecimento político = voto inteligente</h2>   
    <p class="lead">Uma estratégia simples e prática para você conhecer os candidatos e como eles se elegem</p>
</div>
@*<div class="row">
    <div class="col-md-3">
        <h2>Partido</h2>
        <p>Partido político é uma organização burocrática que visa a conquistar e exercer o poder político. A legitimidade dos partidos está em desenvolver essa busca pelo poder como representantes de uma ideologia que expressa os interesses de um grupo social ou de parte dele.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Coligações</h2>
        <p>Coligação é o nome que se dá à união de dois ou mais partidos que apresentam conjuntamente seus candidatos para determinada eleição. As coligações podem ser formadas para eleições majoritárias (escolha de prefeitos, governadores, senadores e presidente da república), proporcionais (vereadores, deputados estaduais, distritais e federais) ou ambas.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Prefeito</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Vereador</h2>
        <p>O vereador é um agente político, eleito para sua função pelo voto direto e secreto da população. Ele trabalha no Poder Legislativo da esfera municipal da federação brasileira (o Brasil é uma federação composta por três esferas de poder: União, Estados e Municípios). Assim, o vereador tem um papel equivalente ao que deputados e senadores possuem nas esferas mais amplas (Estados e União).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Veja mais &raquo;</a></p>
    </div>
</div>*@

<div class="row">
    <div class="col-md-6">
        <h2>Partido</h2>
        <p>Partido político é uma organização burocrática que visa a conquistar e exercer o poder político. A legitimidade dos partidos está em desenvolver essa busca pelo poder como representantes de uma ideologia que expressa os interesses de um grupo social ou de parte dele.</p>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FQpxKoVPb1E?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/h2GLYl2KRnQ?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <h2>Coligações</h2>
        <p>Coligação é o nome que se dá à união de dois ou mais partidos que apresentam conjuntamente seus candidatos para determinada eleição. As coligações podem ser formadas para eleições majoritárias (escolha de prefeitos, governadores, senadores e presidente da república), proporcionais (vereadores, deputados estaduais, distritais e federais) ou ambas.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Prefeito</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uhNjT9umAwI?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eTw2m_WTeRE?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        <h2>Vereador</h2>
        <p>O vereador é um agente político, eleito para sua função pelo voto direto e secreto da população. Ele trabalha no Poder Legislativo da esfera municipal da federação brasileira (o Brasil é uma federação composta por três esferas de poder: União, Estados e Municípios). Assim, o vereador tem um papel equivalente ao que deputados e senadores possuem nas esferas mais amplas (Estados e União).</p>
    </div>
</div>
